/station/config/config.yml
/station/config/http*
__pycache__
venv
.DS_Store
.vscode/
/server/satnogs.ini
/server/app/data
/server/.env/bin/
/server/.env/
/server/data/
/server/build/
/server/cache_tmp/
/server/backups/
/server/satnogs_server.egg-info/
/server/dist/
