.tle-title {
    font-weight: bold;
}

.tle-wrapper {
    white-space: normal;
}

.tle-wrapper code {
    white-space: nowrap;
}

.tle1 { white-space: pre; color: green }
.tle2 { white-space: pre; color: black }
.tle3 { white-space: pre; color: red }
.tle4 { white-space: pre; color: blue }
.tle5 { white-space: pre; color: darkorange }
.tle6 { white-space: pre; color: gray }
