.tle-title {
    font-weight: bold;
}

.tle-wrapper {
    white-space: normal;
}

.tle-wrapper code {
    white-space: nowrap;
}

.tle1 { white-space: pre; color: green }
.tle2 { white-space: pre; color: black }
.tle3 { white-space: pre; color: red }
.tle4 { white-space: pre; color: blue }
.tle5 { white-space: pre; color: darkorange }
.tle6 { white-space: pre; color: gray }

.product-wrapper {
    position: relative;
}

.product-wrapper img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.product-wrapper .product-rating {
    position: absolute;
    left: 5px;
    top: 5px;
}

.product-rating--border {
    padding: 4px;
    z-index: 1;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
}

dl {
    padding: 0.5em;
}

dt {
    float: left;
    clear: left;
    width: 130px;
    margin: 0 10px 0 0;
    border: 1px solid green;
    text-align: right;
    font-weight: bold;
}

dd {
    margin: 0 0 0 50px;
    padding: 0 0 0.5em 1em;
}

.param {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: lightgreen;
    color: black;
    border-radius: 5px;
}

.danger {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: crimson;
    color: black;
    border-radius: 5px;
}

legend.admin {
    width: 7em;
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    border: 0px;
    margin-bottom: 0px;
}

fieldset.admin {
    border: 1px solid red;
    color: black;
    text-align: left;
    width: 800px;
    height: 80px;
    padding: 10px;
}
