<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>SATNOGS-GDN: {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="/static/favicon.png" />

  <script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>{% endblock %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="white-space: nowrap">
                <a class="navbar-brand" href="#">
                    <span><img src="/static/favicon.png" width="32" height="32" class="d-inline-block align-top" alt=""> SATNOGS</span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li {% if request.path == "/" or request.path == "/index" %}class="active"{% endif %}>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li {% if request.path == "/obslist" %}class="active"{% endif %}>
                    <a href="{{ url_for('obslist') }}">Observations</a>
                </li>
                <li {% if request.path == "/stations" %}class="active"{% endif %}>
                    <a href="{{ url_for('stations') }}">Ground stations</a>
                </li>
                <li {% if request.path == "/viewer" %}class="active"{% endif %}>
                    <a href="/viewer/">Orbit Viewer</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>
    <div id="footer" class="text-center">
        {% block footer %}
        &copy; Copyright 2020 by SATNOGS-GDN.
        {% if footer is defined and footer is not none %}
        Version <a href="https://github.com/gut-space/satnogs/commit/{{ footer.version }}">{{ footer.version }}</a>,
        updated on {{ footer.timestamp }}
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>