{% extends "base.html" %}


{% block content %}
<h2>AQUARIUS</h2>
  <p>This is small network of satellite ground stations.
  It's a project created by Sławek Figiel, Tomek Mrugalski and Ewelina Omernik, three students of
  Space and Satellite Technologies studies of Gdańsk University of Technology.</p>

  <p>We're on <a href="https://github.com/gut-space/satnogs">github</a>.</p>

  <p>Here are some materials:</p>
  <ul>
    <li><a href="static/doc/satnogs-gdn-overview.pdf">Project presentation</a></li>
    <li><a href="static/doc/satnogs-gdn-report.pdf">Project report - 2020-01-14</a></li>
    <li><a href="static/doc/poster1-pl.jpg">Poster 1 [Polish]</a></li>
    <li><a href="static/doc/poster2-en.jpg">Poster 2 [English]</a></li>
  </ul>
{% endblock %}