{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% if form %}
    <div class="container">
        <form class="form-signin" method="POST" action="/login">
            <h2 class="form-signin-heading">Welcome to Satnogs</h2>
            <p>
            {{ form.hidden_tag() }}
            {{ form.username.label }}<br/>
            {{ form.username(size=32) }}
            </p>
            <p>
            {{ form.password.label }}<br/>
            {{ form.password(size=32) }}
            </p>
            <p>
            {{ form.remember() }} {{ form.remember.label }}
            </p>
            <p>
                {{ form.submit() }}
            </p>

        </form>
    </div>
{% endif %}

{% if user %}
<p>Welcome, {{ user.username }}!</p>
<p>Your user-id is {{ user.id }}.</p>
<p>Your role is {{ user.role.name }}.</p>
<p><a href="/logout">logout</a></p>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
