{% extends "base.html" %}

{% block content %}
    <h3>Observation  {{ obs.obs_id }}</h3>

    <p>
        Thumbnail:<br/>
        <img src="/data/thumbs/{{ obs.thumbnail }}" />
    </p>
    <p>
        <dl>
            <dt>AOS:</dt><dl>{{ obs.aos }}</dl>
            <dt>TCA:</dt><dl>{{ obs.tca }}</dl>
            <dt>LOS:</dt><dl>{{ obs.los }}</dl>
            {% if obs.notes %}
            <dt>Notes:</dt><dl>{{ obs.notes }}</dl>
            {% endif %}
            <dt>Satellite:</dt><dl><a href="https://www.n2yo.com/satellite/?s={{ obs.sat_id }}">{{ sat_name }}</a></dl>
            <dt>Ground station:</dt><dl><a href="/station/{{ obs.station_id }}">Link</a></dl>
        </dl>
    </p>

    <h4>Attachments:</h4>
    {% for file_ in files %}
        <p>
            Full resolution image (click for full res):<br/>
            <a href="/data/{{ file_.filename }}"><img src="/data/{{ file_.filename }}" width=800/></a>
        </p>
    {% endfor %}
    {% include 'pagination.html' %}
{% endblock %}
