{% extends "base.html" %}

{% block content %}
<div class="container">
<h3>Observations</h3>

<form class="form-inline" method="GET" action="/obslist" id="search-form">
    <div class="form-group">
      <label for="los_after">From</label>
      <input type="date" class="form-control" name="los_after"
        placeholder="After date", value="{{ filters.los_after }}" />
    </div>
    <div class="form-group">
        <label for="aos_before">To</label>
        <input type="date" class="form-control" name="aos_before"
            placeholder="Before date", value="{{ filters.aos_before }}" />
    </div>
    <div class="form-group">
        <label for="sat_id">Satellite</label>
        <select class="form-control" name="sat_id">
            <option value="" {{ 'selected' if not filters.sat_id else '' }}>
                &gt;All&lt;
            </option>
            {% for satellite in satellites | sort(attribute='sat_name') %}
            <option value="{{ satellite.sat_id }}"
                {{ 'selected' if satellite.sat_id == filters.sat_id else '' }}>
                {{ satellite.sat_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="station_id">Station</label>
        <select class="form-control" name="station_id">
            <option value="" {{ 'selected' if not filters.station_id else '' }}>
                &gt;All&lt;
            </option>
            {% for station in stations|sort(attribute='name') %}
            <option value="{{ station.station_id }}"
                {{ 'selected' if station.station_id == filters.station_id else '' }}>
                {{ station.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="checkbox">
        <label for="has_tle">
            <input name="has_tle" id="has_tle" type="checkbox" value="true"
                {{ 'checked' if filters.has_tle else '' }} />
                <abbr title="Require Two Line Elements data">TLE</abbr>
        </label>
    </div>
    <div class="btn-group pull-right" role="group">
        <button type="submit" class="btn btn-success">Search</button>
        <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </form>

<p>
<table class='table table-striped table-hover'>
    <tr>
        <th>ID</th>
        <th><abbr title="Acquisition of Signal">AOS</abbr></th>
        <th><abbr title="Time of closest approach">TCA</abbr></th>
        <th><abbr title="Loss of Signal">LOS</abbr></th>
        <th>Satellite</th>
        <th><abbr title="Two Line Element">TLE</abbr></th>
        <th>Station</th>
        <th>Image</th>
    </tr>
    {% for obs in obslist %}
        <tr>
            <td><a href="/obs/{{ obs.obs_id }}">{{ obs.obs_id }}</a></td>
            <td>{{ obs.aos.isoformat(" ", "seconds") }}</td>
            <td>{{ obs.tca.isoformat(" ", "seconds") }} {% if obs.aos == obs.tca %}
                <abbr title="TCA is equal to AOS, which looks suspicious. Corrected rough estimate is shown below in parentheses.">
                    <span class="glyphicon text-warning glyphicon-question-sign"></span></abbr>
                <br/>({{ (obs.aos + (obs.los - obs.aos)/2).isoformat(" ", "seconds") }})
                {% endif %}
            </td>
            <td>{{ obs.los.isoformat(" ", "seconds") }}</td>
            <td>
                <a href="https://www.n2yo.com/satellite/?s={{ obs.sat_id }}">
                    {{ obs.sat_name }}
                </a>
            </td>
            <td>
                {% if obs.tle %}
                <span class="tle glyphicon text-success glyphicon-ok" data-toggle="tooltip" data-html="true" boundary="window"
                      title="<b>TLE</b><br/>{{ obs.tle[0]}}<br/>{{ obs.tle[1] }}"></span>
                {% else %}
                <span class="glyphicon text-danger glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>
                <a href="/station/{{ obs.station_id }}">
                    {{ obs.station_name }}
                </a>
            </td>
            <td>
                <a href="/obs/{{ obs.obs_id }}">
                    <img src="/data/thumbs/{{ obs.thumbnail }}" />
                </a>
            </td>
        </tr>
    {% else %}
    <tr>
        <td class="text-center" colspan="100%">No data for provided criteria</td>
    </tr>
    {% endfor %}
</table>
</p>
{% include 'pagination.html' %}

{% endblock %}

{% block addToHead %}
<style>
    /* Fix incorrect vertical align in date inputs in Bootstrap. */
    input[type=date].form-control {
        line-height: 1.42857143; /* Bootstrap 3 default value */
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    const form = document.getElementById("search-form");

    function getFormControls()
    {
        return form.querySelectorAll("input, select");
    }

    function disableEmptyControls()
    {
        const controls = getFormControls();
        for (let i=0; i < controls.length; i++)
        {
            const control = controls[i];
            if (control.value == "") {
                control.disabled = true;
            }
        }
    }

    function search_for_parent(element, className, maximum_parent) {
        while (element.parentElement != null && element != maximum_parent)
        {
            if (element.classList.contains(className))
            {
                return element;
            }
            element = element.parentElement;
        }
        return null;
    }

    function validate()
    {
        let is_valid = true;
        const error_control_containers = form.querySelectorAll(".has-error");
        error_control_containers.forEach(c => c.classList.remove("has-error"));

        const from_input = form.querySelector("input[name=los_after]");
        const to_input = form.querySelector("input[name=aos_before]");

        if (from_input.value != "" && to_input.value != "") {
            const from_date = new Date(from_input.value);
            const to_date = new Date(to_input.value);
            if (from_date > to_date)
            {
                is_valid = false;
                [from_input, to_input].forEach(input => {
                    parent = search_for_parent(input, "form-group", form);
                    parent.classList.add("has-error")
                });
            }
        }

        return is_valid;
    }

    form.onsubmit = function(ev) {
        if (!validate())
        {
            ev.preventDefault();
            ev.stopPropagation();
            return;
        }
        disableEmptyControls();
    }
    form.onreset = function(ev) {
        const controls = getFormControls();
        for (let i=0; i < controls.length; i++)
        {
            const control = controls[i];
            control.value = ""
        }
        ev.preventDefault();
        ev.stopPropagation();
        disableEmptyControls();
        form.submit();
    }
</script>
{% endblock %}