{% if pagination and pagination.page_count > 1 %}
<nav aria-label="Page navigation example" class="text-center">
    <ul class="pagination">
        {% if pagination.page_current != 1 %}
        <li class="page-item">
            <a class="page-link"
                href="{{ url_page(pagination.url, 1, pagination.param) }}">
                First
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{{ url_page(pagination.url, pagination.page_current - 1, pagination.param) }}">
                Previous
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">First</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}
        {% for i in range(1, pagination.page_count + 1) %}
        <li class="page-item {{ 'active' if pagination.page_current == i else '' }}">
            <a class="page-link"
                href="{{ url_page(pagination.url, i, pagination.param) }}">
                {{ i }}
            </a>
        </li>
        {% endfor %}
        {% if pagination.page_current != pagination.page_count %}
        <li class="page-item">
            <a class="page-link"
                href="{{ url_page(pagination.url, pagination.page_current + 1, pagination.param) }}">
                Next
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{{ url_page(pagination.url, pagination.page_count, pagination.param) }}">
                Last
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Last</a>
        </li>
        {% endif %}
    </ul>
  </nav>
{% endif %}
<p class="text-center">
    Displaying {{ pagination.items_current }} from {{ pagination.items_count }}
    item{{ 's' if pagination.items_count > 1 else '' }}
</p>
