{% extends "base.html" %}

{% block addToHead %}

<script type="text/javascript" src="/static/gallery.js"></script>

{% endblock %}

{% block content %}
    <h3>Ground Station  {{ station.name }}</h3>

    <p>
        <ul>
            <li>ID: {{ station.station_id }}</li>
            <li>Station location: {{ station.coords }}</li>
            <li>Station registration time: {{ station.registered }}</li>
            <li>First recorded transmission: TBD</li>
            <li>Most recent transmission: {{ station.lastobs }}</li>
            <li>Number of transmissions: {{ station.cnt }}
                <a href="{{ url_for('obslist', station_id=station.station_id) }}">
                    [List]
                </a>
            </li>
            <li>Station admins:
            {% for o in owners %}
                <span class="param"">{{o.username}}</span>
            {% endfor %}
            </li>
        </ul>
    </p>
    <p>
        <b>About the station</b>: {{ station.descr }}
    </p>
    <p>
        <b>Current configuration:</b>
        <ul>
        {% for c in station.config %}
        {% if station.config[c] is defined %}
        <li>{{ c }}: {{ station.config[c] }}</li>
        {% endif %}
        {% endfor %}
        </ul>
    </p>

    {% if files is defined %}

    <div class="gallery-overlay"><img src="" id="gallery-top" hidden=True>
        <span id="gallery-close" hidden=True onclick=do_close()><b><u>CLOSE (X)</u></b></span>
    </div>

    <div class="cx" style="background-color:#fff;">
        {% for f in files %}
        <img src='/data/stations/{{ station.station_id }}/{{ f.filename }}' width=200 onclick="clicked_img(this)" >
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}