{% extends "base.html" %}

{% block content %}
    <h3>Ground Station  {{ station.name }}</h3>

    <p>
        <ul>
            <li>ID: {{ station.station_id }}</li>
            <li>Station location: {{ station.coords }}</li>
            <li>Station registration time: {{ station.registered }}</li>
            <li>First recorded transmission: TBD</li>
            <li>Most recent transmission: {{ station.lastobs }}</li>
            <li>Number of transmissions: {{ station.cnt }}
                <a href="{{ url_for('obslist', station_id=station.station_id) }}">
                    [List]
                </a>
            </li>
        </ul>
    </p>
    <p>
        <b>About the station</b>: {{ station.descr }}
    </p>
    <p>
        <b>Current configuration:</b> {{ station.config }}
    </p>

    {% if files is defined %}
    <table>
    {% for f in files %}
        <tr>
            <td><a href="/data/stations/{{ station.station_id }}/{{ f.filename }}"><img src="/data/stations/{{ station.station_id }}/{{ f.filename }}" width=400></a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

{% endblock %}