{% extends "base.html" %}

{% block addToHead %}

<script type="text/javascript" src="/static/gallery.js"></script>

{% endblock %}

{% block content %}
    <h3>Ground Station  {{ station.name }}</h3>

    <p>
        <ul>
            <li>Station location: {{ station.coords }} (see on
                <a href="https://www.openstreetmap.org/search?query={{ station.coords }}">OpenStreetMap</a>,
                <a href="https://www.google.com/maps/search/?api=1&query={{station.coords }}">Google Maps</a>)
            </li>
            <li>Station registration time: {{ station.registered }}</li>
            <li>First recorded transmission: {{ station.firstobs }}</li>
            <li>Most recent transmission: {{ station.lastobs }}</li>
            <li>Number of transmissions: {{ station.cnt }}
                <a href="{{ url_for('obslist', station_id=station.station_id) }}">
                    [List]
                </a>
            </li>
            <li>Station admins:
            {% for o in owners %}
                <span class="param"">{{o.username}}</span>
            {% endfor %}
            </li>
            <li>ID: {{ station.station_id }}</li>
        </ul>
    </p>
    <p>
        <span class="section-title">About the station</span>: {{ station.descr }}
    </p>
    <p>
        <span class="section-title">Current configuration:</span>
        <ul>
        {% for c in station.config %}
        {% if station.config[c] is defined %}
        <li>{{ c }}: {{ station.config[c] }}</li>
        {% endif %}
        {% endfor %}
        </ul>
    </p>

    {% if files is defined %}

    <div class="gallery-overlay" id="gallery-overlay" hidden=True>
        <img src="" id="gallery-image">
        <span id="gallery-close" onclick=do_close()><b><u>CLOSE (X)</u></b></span>
        <span id="gallery-descr">Image description</span>
    </div>

    <div>
        {% for f in files %}
        <img src='/data/stations/{{ station.station_id }}/{{ f.filename }}' width=200 alt="{{ f.descr }}" onclick="clicked_img(this)" >
        {% endfor %}
    </div>
    {% endif %}

    {% if best_obs is defined %}
    <div class="section-title">Highest rated observations:</div>
    <div>
        {% for o in best_obs %}
            <a href='/obs/{{o.obs_id}}'><img src='/data/thumbs/{{ o.thumbnail }}' width=200></a>
        {% endfor %}
    {% endif %}
    </div>


    {% if latest_obs is defined %}
    <div class="section-title">Latest observations:</div>
        {% for o in latest_obs %}
            <a href='/obs/{{o.obs_id}}'><img src='/data/thumbs/{{ o.thumbnail }}' width=200></a>
        {% endfor %}
    {% endif %}

{% endblock %}