[cache]
CACHE_DEFAULT_TIMEOUT = 300

# Uses a local python dictionary for caching. This is not really thread safe.
#CACHE_TYPE = simple

# Uses the filesystem to store cached values
CACHE_TYPE = filesystem
CACHE_DIR = cache_tmp

[database]
host = localhost
database = satnogs
user = postgres
password = postgres

[storage]
image_root = /home/satnogs/data

[security]
ignore_hmac_validation_errors = false

[view]
items_per_page = 100

