[database]
host = localhost
database = satnogs
user = postgres
password = postgres

[storage]
image_root = /home/satnogs/data

[security]
ignore_hmac_validation_errors = false

[view]
items_per_page = 100

