[database]
host = localhost
database = svarog
user = postgres
password = postgres

[storage]
image_root = /home/svarog/data

[security]
ignore_hmac_validation_errors = false

[view]
items_per_page = 100

