<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>SATNOGS-GDN: {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
 {% endblock %}
</head>
<body>
    <div>
    SATNOGS:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('obslist') }}">Observations</a>
    </div>

<body>
    <div id="container">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2020 by SATNOGS-GDN.
        {% endblock %}
    </div>
</body>
</html>