{% extends "base.html" %}

{% block content %}
    <h3>Observation  {{ obs.obs_id }}</h3>

    <p>
        Thumbnail:<br/>
        <img src="/data/thumbs/{{ obs.thumbfile }}" />
    </p>
    <p>
        Full resolution image (click for full res):<br/>
        <a href="/data/{{ obs.filename }}"><img src="/data/{{ obs.filename }}" width=800/></a>
    </p>
    <p>
        AOS: {{ obs.aos }}<br/>
        TCA: {{ obs.tca }}<br/>
        LOS: {{ obs.los }}<br/>
        Ground station: ... <br/>
    </p>
{% endblock %}